#footer {
  text-align: center;
  height: 150px;
  margin-top: 40px;
  padding-top: 15px;
}

@media only screen and (max-width: 600px) {
  #footer h1{
    font-size: 15px;
  }

  #footer p{
    font-size: 8px;
  }
}