#Home{
  .showcase {
    .ser1-title {
      padding: 20px 0px 10px 10px;
    }

    .showcase-img {
      text-align: center;

      .ser1-img {
        width: 320px;
        height: 250px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #Home .showcase .showcase-img .ser1-img {
    width: 80%;
    height: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}