#Home{
  .showcase {
    .ser1-title {
      padding: 20px 0px 10px 10px;
    }

    .showcase-img {
      text-align: center;

      .ser1-img {
        width: 300px;
        height: 250px;
      }
    }
  }
}