
// Body
$body-bg: #f5f8fa;
$gray-bg: rgba(0, 0, 0, 0.03);

// Color
$black: black;
$gray-dark: rgba(0, 0, 0, 0.1);

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;
